body{
	font-family: 'Helvetica Neue',Arial,Helvetica,'Liberation Sans',FreeSans,sans-serif;
	color:#3A2C2D;
}

#tablaComparacion{
	border: 1px solid #DE564B;
	border-collapse:collapse;
	font-size:14px;
	
}
th{
}

#tablaComparacion td{
	border-bottom:1px dotted #DE564B;
}

#tablaComparacion th{
	font-weight:200;
	font-size:16px;
	padding-left:8px;
	padding-right:8px;
	background-color:#DE564B;
	color:#EBE2BF;
	font-weight:200;
	border: 1px solid #DE564B;
	white-space:nowrap;
}

.gmap_marker {
	width:300px;
	font-family:Verdana, Geneva, sans-serif ;
	font-size:10px
}

#wrapper{
	margin: 0px auto;
	text-align:left;
	background-image:url(../images/bg-body.gif);
	padding-left:10px;
	padding-right:10px;
	width:880px;
}

#header{
	width:900px;
	height:300px;
	background-image:url(../images/header2.png);
	margin-left: -10px;
}


#filtros{
	float:left;
	width: 200px;
	height:500px;
	font-size:12px;
}

#map_canvas{
	float:left;
	width:534px;
	height:534px;
	margin:8px;
}
#map_border{
	float:left;
	width:680px;
	height:550px;
	background-image:url(../images/mapBorder2.png)
}

li{
	padding-left:0px;
	margin-left: -20px;
	line-height:18px;
}

#mensajes{
	float:left;
	font-size:12px;
	width: 100px;
	height:500px;
	padding-top:15px;
	margin-left:2px;
	color:#EBE2BF;
}

#comparacion{
	clear:both;
	width: 880px;
	overflow:auto;
}

h2{
	font-weight:400;
	margin-top:0px;
	color:#6B9974;
	font-size:24px;
}